<div class="fill-space container">
  <div class="sprinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="inner-container">
    <div class="left-container" (click)="prevItem()">
      <i class="material-icons">chevron_left</i>
    </div>
    <div class="right-container" (click)="nextItem()">
      <i class="material-icons">chevron_right</i>
    </div>
    <img (load)="onLoad($event)" [style.opacity]="loading ? 0 : 1" [src]="data.item.image"/>
  </div>
  <div>
    <p>{{data.item['title']}} - {{data.item['description'] || "Brak opisu"}},
      {{data.item['dimensions'] || "Brak wymiarów"}},
      {{data.item['date'] || "Rok powstania nieznany"}}</p>
  </div>
</div>
