<div class="fill-space" mat-dialog-content>
  <div class="sprinner-wrapper" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card>
    <button mat-fab (click)="prevItem()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img mat-card-image (load)="onLoad($event)" [style.opacity]="loading ? 0 : 1" [src]="data.item.image"/>
    <button mat-fab (click)="nextItem()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <div>
      <mat-card-title>{{data.item['title']}}</mat-card-title>
      <mat-card-subtitle>{{data.item['description'] || "Brak opisu"}},
        {{data.item['dimensions'] || "Brak wymiarów"}},
        {{data.item['date'] || "Rok powstania nieznany"}}</mat-card-subtitle>
    </div>
  </mat-card>
</div>
