.mat-dialog-content {
  overflow-y: hidden !important;
}

img {
  max-width: 700px;
  max-height: 800px;
  width: auto;
  height: auto;
  vertical-align: middle;
}

button {
  position: relative;
  vertical-align: middle;
}

p {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.fill-space {
  flex: 1 1 auto;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content {
  padding: 1em;
}

.white-stripe {
  background-color: white;
}
