.mat-dialog-content {
  overflow-y: hidden !important;
}

img {
  max-width: 100%;
  max-height: 900px;
  width: auto;
  height: auto;
  vertical-align: middle;
  display: block;
}

p {
  margin: 0;
  padding: 12px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

i {
  color: whitesmoke;
  font-size: 36px;
}

.circle {
  height: 36px;
  width: 36px;
  background-color: #333333;
  border-radius: 50%;
  display: inline-block;
}

.fill-space {
  flex: 1 1 auto;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: inline-block;
  border: whitesmoke solid 2px;
}

.inner-container {
  position: relative;
}

.inner-container img {
  display: block;
}

.inner-container div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 20%;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  transition: .5s ease;
  opacity: 0;
}

.left-container {
  left: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  cursor: default;
}

.right-container {
  right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  cursor: default;
}

.left-container i {
  position: absolute;
  top: 50%;
  left: 24px;
}

.right-container i {
  position: absolute;
  top: 50%;
  right: 24px;
}

.inner-container:hover .right-container:hover {
  opacity: 1;
}

.inner-container:hover .left-container:hover {
  opacity: 1;
}
