<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button matTooltip="Menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fill-space"></span>
  <div>
    <a [routerLink]="['/home']"><span class="white-text name">Jan Trojan - obrazy, rysunki, twórczość</span></a>
  </div>
  <span class="fill-space"></span>
  <button mat-icon-button matTooltip="Kontakt" (click)="contactSnackBar()">
    <mat-icon>mail</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Share" (click)="shareSnackBar()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
