<mat-toolbar color="primary">
  <div>
    <button mat-icon-button
            type="button"
            (click)="sidenav.toggle()"
            matTooltip="Menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span class="fill-space"></span>
  <div>
    Jan Trojan
  </div>
  <span class="fill-space"></span>
  <div>
    <button mat-icon-button type="button" (click)="openSnackBar()" matTooltip="Kontakt">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="openSnackBar()" matTooltip="Podziel sie">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
