.fill-space {
  flex: 1 1 auto;
}

.toolbar {
  overflow:hidden;
  top: 0;
}

.white-text {
  font-size: 36px;
  color: white;
  margin: 10px;
  float: left;
  letter-spacing: 2px;
}

.name {
  letter-spacing: 4px;
}
