<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav fixedInViewport="true" mode="over">
    <mat-list>
      <div class="business-card-view">
        <div class="business-card-background">
          <img src="assets/images/malarstwo97/Painting1.jpg"/>
        </div>
        <button mat-icon-button (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
        <div class="business-card-content">
          <img class="business-card-photo" src="assets/images/autor/autor-foto.jpg">
          <a href="#!name"><span class="white-text name">Jan Trojan</span></a>
          <a href="#!email"><span class="white-text email">art@trojanobrazy.pl</span></a>
        </div>
      </div>
      <mat-list-item>
        <a mat-button
           [routerLink]="['home']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <span><strong>Biografia</strong></span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-button
           [routerLink]="['creation']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <span><strong>Twórczość</strong></span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <app-toolbar [sidenav]="sidenav"></app-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
