<mat-tab-group>
  <mat-tab *ngFor="let collection of collections" label="{{collection.labelTitle}}">
    <div class="collection-group">
      <mat-grid-list [cols]="colsNumber" [gutterSize]="40">
        <mat-grid-tile *ngFor="let creation of collection.content">
          <mat-card class="creation-card">
            <img mat-card-image alt="{{creation.title}}" src="{{creation.image}}"/>
            <mat-card-title>{{creation.title}}</mat-card-title>
            <mat-card-subtitle>{{creation.description}}, {{creation.dimensions}}
              , {{creation.date | date: 'yyyy'}}</mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-tab>
</mat-tab-group>
